.flip-page {
  .flip-card-page {
    column-count: 3;
    max-width: 200vw;
    padding: 100px;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;

    .col {
      height: auto;
      overflow: hidden;
      margin-bottom: 10px;
      column-gap: 10px;
      break-inside: avoid-column;
      // box-shadow: 1px 1px 20px rgb(204, 204, 204);
      // border-radius: 12px;
      background: white;
      padding: 10px;
      position: relative;
    }
  }
}
@media screen and (min-width: 2560px) {
  .flip-page {
    .flip-card-page {
      column-count: 5;
    }
  }
}

@media screen and (min-width: 720px) {
  .flip-page {
    .flip-card-page {
      column-count: 2;
      padding: 5px;
    }
  }
}

@media screen and (min-width: 900px) {
  .flip-page {
    .flip-card-page {
      column-count: 3;
      padding: 5px;
      padding: 80px;
    }
  }
}
@media screen and (max-width: 600px) {
  .flip-page {
    .flip-card-page {
      column-count: 1;
      padding: 20px;
    }
  }
}
