.normal-page {
  .normal-card {
    column-count: 1;
    max-width: 200vw;
    padding: 100px;
    .col {
      height: auto;
      overflow: hidden;
      margin-bottom: 10px;
      column-gap: 10px;
      break-inside: avoid-column;
      // box-shadow: 1px 1px 20px rgb(204, 204, 204);
      // border-radius: 12px;
      background: white;
      padding: 10px;
      position: relative;
    }
  }
}
@media screen and (min-width: 1200px) {
  .normal-page {
    .normal-card {
      column-count: 3;
    }
  }
}
@media screen and (min-width: 2560px) {
  .normal-page {
    .normal-card {
      column-count: 4;
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .normal-page {
    .normal-card {
      column-count: 2;
      padding: 5px;
      padding: 80px;
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 720px) {
  .normal-page {
    .normal-card {
      column-count: 1;
      padding: 0px;
    }
  }
}

@media screen and (max-width: 600px) {
  .normal-page {
    .normal-card {
      column-count: 1;
      padding: 0px;
    }
  }
}
